*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
hr {
  opacity: 0.15;
  margin: 2rem 0;
}

.subTitle {
  padding: 13px 10px;
  background-color: red;
  color: #fff;
  border-radius: 20px;
  margin-left: 2px;
}

.main {
  max-width: 900px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blockText {
  font-size: 18px;
}

.pageTitle {
  margin-top: 20px;
  text-align: center;
}

.questionBlockTitle {
  margin-bottom: 10px;
}

.wrapper {
  flex: 1 1 auto;
}
.wrapperInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ############################################################## */

.formInner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.formItem {
  margin: 15px 5px;
  width: 47%;
  min-width: 160px;
  font-size: 18px;
  display: flex;
  align-items: center;
  max-height: 100px;
  color: #000;
}

.formRadio {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.formLabel {
  line-height: 1.2;
  text-align: left;
  font-size: 19px;
}

/* ################################################################## */

.btn {
  padding: 8px 20px;
  font-size: 18px;
}

/* ############################################################## */

.hintBlock {
  margin-top: 30px;
}
.hintHeader {
  display: flex;
  align-items: center;
}

.hintTitle {
  position: relative;
  margin-bottom: 0;
  margin-left: 10px;
  cursor: pointer;
}

.hintTitle span {
  position: absolute;
  left: -25%;
  bottom: -70%;
  font-size: 14px;
}

.hintText {
  display: none;
}

.hintText.active {
  display: block;
}

/* #################################################### */

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  overflow: hidden;
}

.loginFormInner {
  display: flex;
  flex-direction: column;
}

.loginTitle {
  font-size: 18px;
  margin-bottom: 7px;
}

.loginName {
  font-size: 20px;
}

.loginBtn {
  margin-top: 40px;
  padding: 10px 40px;
  border-radius: 25px;
  font-size: 18px;
}

/* ################################################################## */

/* INDEX  */

.gridBlock {
  margin-top: 30px;
}

.col {
  margin: 5px 5px;
}

.categoryTitle {
  animation: rubberBand;
  margin-top: 25px;
  margin-bottom: 15px;
}

.categoriesItems {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.categItemDiv {
  width: 47%;
  max-width: 200px;
  height: 120px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 10px;
  border: 1px solid #9ec2f827;
  background-color: #fefefe;
  -webkit-box-shadow: 0 2px 2px 0 #9ec2f8;
  -moz-box-shadow: 0 2px 2px 0 #9ec2f8;
  box-shadow: 0px 2px 2px 0 #9ec2f8;
  transition: all 0.2s linear;

  overflow: hidden;
}

.categItemDiv:hover {
  box-shadow: 1px 2px 5px 0 #9ec2f8;
}

.categItemLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

/* ################################ */

.phraseBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding: 20px 0;
}

.answerPrepod {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
}

.answerPrepod.success {
  background: #82fd6a;
}

/* #################### */

.imgDiv {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.imgDiv img {
  width: 100%;
  height: 100%;
}

.correctAnswer {
  transition: all 0.2s linear;
  color: #29db05;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
