<body class='body'>
  <main class='main container'>
    <header class='header d-flex justify-content-between'>
      {{! <h2 class='helloName'></h2> }}
      <h2 class='scoreCount'></h2>
      <button class='btn btn-outline-primary resetScore'>Сброс очков</button>
    </header>
    <h1 class='categoryTitle'>Выбери свою категорию:</h1>
    <div class='container text-center gridBlock'>
      <div class='row'>
        <div class='col categItemDiv'><a href='/zagadkiTunaev' class='categItemLink'>Загадки Тюняева</a>
        </div>
        <div class='col categItemDiv'><a href='/historyOfDate' class='categItemLink'>История
            праздника</a></div>
      </div>
      <div class='row'>
        <div class='col categItemDiv'><a href='/ugadaiPoFraze' class='categItemLink'>Угадай препода
            по фразе</a></div>
        <div class='col categItemDiv'><a href='/memories' class='categItemLink'>Воспоминания из
            учебы</a></div>
      </div>
      <div class='row'>
        <div class='col categItemDiv'><a href='/naidiLishnee' class='categItemLink'>Найди лишнее</a></div>
        <div class='col categItemDiv'><a class='categItemLink'>Девчачьи штучки</a></div>
      </div>
      <div class='row'>
        <div class='col categItemDiv'><a href='/mensItems' class='categItemLink'>Мужские штучки</a></div>
        <div class='col categItemDiv'><a class='categItemLink'>Легендарный уровень</a></div>
      </div>
    </div>
  </main>
  <script src='client/assets/js/indexFrontend.js'></script>
</body>