<body>
  <main class='main container'>
    <header class='headerCategory'>
      <h2 class='pageTitle'>Угадай препода по фразе</h2>
    </header>
    <div class='wrapper'>
      {{#each data}}
        <div class='wrapperInner'>
          <div class='phraseBlock'>
            <h5 class='phraseTitle questionBlockTitle'>Фраза №{{this.id}}</h5>
            <p class='blockText'>{{this.text}}</p>
            <input
              name='answerPrepod'
              type='text'
              class='input answerPrepod'
              placeholder='Введи фамилию'
              value=''
            />
          </div>
          <span class='correctAnswer d-none'>{{this.prepod}}</span>
        </div>
        <hr />
      {{/each}}
    </div>
    <div class='d-flex justify-content-around w-100'>
      <a href='/' class='btn btn-secondary mt-3 f-14 goBackBtn'>Назад</a>
      <button class='btn btn-primary mt-3 f-14 checkAnswersBtn'>Подтвердить</button>
    </div>
  </main>
  <script src='client/assets/js/ugadaiPoFraze.js'></script>
</body>